*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-size: 25px;
}
body{
     min-width: 100vh; /* check later on */
 
}
.who{
    background-color: aqua;
}
.navbar{
    background-color: aquamarine;
    display: flex;
    justify-content: end;
    gap: 10rem;

}
.nav-items{
    border-bottom: 2px solid black;
}
.work{
    display: flex;
    background-color:cadetblue;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
    
}
.service{
    display: flex;
    background-color: blanchedalmond;
    height:365px;
    width:335px;
    padding:200px 35px;
    border-radius: 20px;
    margin:15px;
    position:relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    
}
